<header class="mdc-top-app-bar mdc-top-app-bar--fixed" data-controller="mdc-top-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title">Underlogs</span>
    </section>
  </div>
</header>